<h2>My heroes</h2>

<div>
<label>Hero Name:
  <input #heroName />
</label>
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/details/{{hero.id}}">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>

